body{
  background-color: white;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  width: 20%;
}

div{
  border: 0.1px solid black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.avatar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}


/* mx-auto */
/* .centrar{
  margin: 0 auto;
} */

