body, html{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img{
  max-width: 100%;
  width: 20%;
}

article {
  box-sizing: unset;
  margin: 0;
  padding: 0;
}
.mnl{
  margin-left: 0px;
}

.line {
  width: 90%;
  height: 2px;
  background-color: #0093D3;
  border-radius: 150px;
}

.avatar-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  background-image: url(./images/me.jpeg);
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border: 1px solid #0093D3;
}

.box{
  height: 100px;
  width: 48%;
}

.min{
  min-width: 280px;
}

.certificationBox{
  flex-wrap: wrap;
}

.articleBox{
  max-height: 500px;
  overflow: scroll;
}

.fontSize{
  font-size: 160%;
}

.phone{
  color: #14c411;
}

.linkedin {
  color: #0077B5;
}

.github{
  color: #5B267F;
}

.nationality{
  color: #D30026;
}

.map{
  color: #007CF9;
}
.mas{
  font-size: 140%;
}
.yellow{
  color: rgb(255, 204, 0);
}
.overflow{
  overflow: hidden;
}

@media (min-width:443px) and (max-width: 575px){
  .certificationBox{
    flex-wrap: nowrap;
  }
}
@media (min-width:768px){
  .mnl{
    margin-left: 0px;
  }
  .fontSize{
    font-size: 175%;
  }
  html{
    font-size: 16px;
  }
  .box{
    height: 70px;
    width: 48%;
  }
}
